#result_list .column-drag_handle {
  width: 2rem;
}

#result_list .column-position {
  display: none;
}

#result_list .field-drag_handle {
  color: #5F9EDF;
  cursor: move;
}

#result_list .field-position {
  display: none;
}
